@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(15, 14, 14);
}

*{
    margin: 0;
    padding: 0;
}

@layer components{
    .tags{
        background-color: #be185d;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        padding: 3px 10px;
        display: inline-block;
        font-size: 1rem;
        color: white;
        font-weight: 700;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        flex-wrap: wrap;
    }
    .tags:hover{
        background-color: #c92c6d;
        transition: transform 0.4s ease-in-out;
        transform: scale(1.1);
    }
}